h3 {
  text-align: center;
  font-size: 2rem;
  color: transparent;
  background-color: #cc8100;
  background-clip: text;
  text-shadow: 0px 2px 5px #f9c800;
  font-family: 'PT Serif';
}
.orderContainer {
  margin: 0 auto 3rem auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 65vw;
  height: fit-content;
}
.nobleContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  min-height: 50vh;
}
.orderLord,
.orderKing {
  margin: 1rem;
  padding: 1rem;
  width: 40%;
  min-width: 18rem;
}
.orderLord:hover {
  background-color: #1a100059;
  color: #cc8100;
  cursor: pointer;
}
.orderKing:hover {
  background-color: #3d310059;
  color: #f9c800;
  cursor: pointer;
}
.orderLord:focus {
  background-color: #1a100059;
  color: #cc8100;
}
.orderKing:focus {
  background-color: #3d310059;
  color: #f9c800;
}
.orderLord {
  border: 0.2rem solid #cc8100;
  background-color: #cc810059;
}
.orderKing {
  border: 0.2rem solid #f9c800;
  background-color: #f9c70059;
}
.orderLord h4,
.orderKing h4 {
  text-align: center;
}
.orderLord p,
.orderKing p {
  text-align: justify;
}
.orderFormContainer {
  display: block;
  margin: 3rem 0;
  width: 100%;
}
.orderForm {
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
/* .kingLabel {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
} */
#kingDesire,
#setDate {
  margin-top: 0.5rem;
}
label {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}
#lordSubject {
  margin: 0 0.5rem;
}
#setDate {
  width: 5rem;
}

.havingPrice {
  font-size: 1.3rem;
  font-weight: bold;
}
.price {
  color: #cc8100;
}

.modal {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.modal p {
  font-size: 1.2rem;
}
.order-home-button {
  color: inherit;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  width: 24rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  box-shadow: 0 0 0.2rem black;

  transition: box-shadow 0.25s ease;
}
.orderButton {
  cursor: pointer;
  z-index: 80;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 0 0.2rem black;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
  background-image: linear-gradient(
    120deg,
    #ac8d11,
    #f9c800,
    #fffbea,
    #f9c800,
    #f9c800,
    #bb9c20
  );
  border-width: 1rem;
  border-style: solid;
  border-color: #ffdd53 #ac8d11 #645826 #f9c800;
}
