.artwork {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  max-height: 512px;
  max-width: 1024px;
}

.artwork-info {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.5rem;
}

.artwork-info h2,
.artwork-info p {
  margin: 0;
  color: inherit;

  /* max artwork width + art list item margin */
  max-width: min(1024px, 100vw);
}
