.columnRight {
  position: fixed;
  right: 0;
  background-color: #fffcfd;
  background-image: url('https://www.transparenttextures.com/patterns/concrete-wall-2.png');
  box-shadow: 0px 5px 10px rgba(34, 34, 34, 0.582);
  height: 100%;
  width: 120px;
  transform: rotate(-2deg);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
}

.columnRight .groove {
  position: absolute;
  height: 180%;
  top: 60px;
  background-color: #fffcfd;
  background-image: url('https://www.transparenttextures.com/patterns/concrete-wall-2.png');
  border-radius: 100px;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.37) inset;
  transform: rotate(-2deg);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
}

.columnRight .groove:first-child {
  right: 2px;
  width: 8px;
  top: 47px;
}

.columnRight .groove:nth-child(2) {
  right: 14px;
  width: 12px;
  top: 53px;
}

.columnRight .groove:nth-child(3) {
  right: 33px;
  width: 16px;
  top: 58px;
}

.columnRight .groove:nth-child(4) {
  right: 60px;
  width: 25px;
  top: 62px;
}

.columnRight .groove:nth-child(5) {
  right: 100px;
  width: 40px;
}

.columnRight .head {
  position: absolute;
  height: 60px;
  width: 80px;
  top: -10px;
  left: -10px;
  background-color: #fffcfd;
  background-image: url('https://www.transparenttextures.com/patterns/concrete-wall-2.png');
  box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.37);
  transform: rotate(2deg);
}

.columnRight .head2 {
  position: absolute;
  height: 60px;
  width: 80px;
  top: -20px;
  left: 67px;
  background-color: #fffcfd;
  background-image: url('https://www.transparenttextures.com/patterns/concrete-wall-2.png');
  box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.37);
  transform: skewY(-15deg);
}
